*{
    box-sizing: border-box;
}
body{
    background-color: #d4d4d4c4;
    margin:0;
    padding: 0;
    overflow:scroll ;
}
#card_container{
    border: 0px red solid;
    margin: 30% 10%;
    padding: 3% 3%;
    transform: rotate(-10deg);
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80vw;
    height: 60vw;
    box-shadow: 15px -15px #615f5f;
    
}
#top{
    border: 0px purple solid;
    text-align: center;
    margin-bottom: 7%;
}
#top h1{
    color: #f0ce78;
    font-size: 20px;
    margin-bottom: 1% ;
}
#top-bottom h3, h5 {
    margin: 1%;
}
h5{
    font-size: 10px;
}
#bottom{
    border: 5px #f0ce78 solid;
    background-color: #f0ce78;
    padding: 1%;
    color: #000000;
    border-radius: 5px;  
    display: flex;
    flex-direction: column;  
}
#bottom h3{
    font-size: 10px;
    text-align: justify;  
}
p{
    font-size: 12px;
    flex-shrink: 2px;
    padding:0.4%;
    margin: auto;
    justify-content: start;
}
img{
    width: 15px;
}
a{
    text-decoration: none;
    color: #000000;
}
@media (min-width: 750px) {
    #card_container{
        width: 80%;
        height: auto;
        transform: none;
        box-shadow: 5px 5px #615f5f;
    }
    #top h1{
        font-size: 40px;
    }
    #top-bottom h3{
        font-size: 30px;
    }
    h5{
        font-size: 15px;   
        color: #f0ce78;
        }
    #bottom h3{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    #top-bottom{
        margin: 4%;
    }
}